# Boilerplate
__pycache__/
_archive/
_dev/
.idea/
build/
dev/
dist/
ignored/
*~$*
*.DS_Store
*.egg-info
*.swp
tags
MANIFEST

# Jupyter
.ipynb_checkpoints/

# Custom
/*.json
output/
!output/.keep
cache/*
!cache/.keep
!cache/robot/
cache/robot/*
!cache/robot/.keep
notebooks/cache/
vsac_wrangler/data/cache/*
!vsac_wrangler/data/cache/.keep
/env/*
!/env/.env.example

# Special cases
# Addresses: "remote: error: <FILENAME> is <MB> MB; this exceeds GitHub's file size limit of 100.00 MB"
data/icd10cm/dione/icd10cm.owl
data/mondo/source/mondo.owl
