antlr4-python3-runtime==4.9.3
attrs==21.4.0
bidict==0.21.4
bleach==4.1.0
certifi==2021.10.8
CFGraph==0.2.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
cycler==0.11.0
dacite==1.6.0
dataclasses==0.6
decorator==5.1.1
diskcache==5.4.0
distlib==0.3.4
docutils==0.18.1
fastobo==0.11.1
filelock==3.4.2
fonttools==4.29.1
idna==3.3
importlib-metadata==4.11.1
iniconfig==1.1.1
isodate==0.6.1
jsobject==0.10.2
jsonasobj==1.3.1
jsonpath-rw==1.4.0
jsonpickle==2.1.0
keyring==23.5.0
kiwisolver==1.3.2
marshmallow==3.14.1
matplotlib==3.5.1
networkx==2.6.3
numpy==1.22.2
ontobio==2.7.14
packaging==21.3
pandas==1.4.1
pbr==5.8.1
Pillow==9.0.1
pkginfo==1.8.2
platformdirs==2.5.0
plotly==5.6.0
pluggy==1.0.0
ply==3.11
prefixcommons==0.1.9
pronto==2.4.4
py==1.11.0
pydotplus==2.0.2
Pygments==2.11.2
PyJSG==0.11.9
pyparsing==2.4.7
PyShEx==0.8.0
PyShExC==0.9.0
pysolr==3.9.0
pytest==7.0.1
pytest-logging==2015.11.4
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
rdflib==6.1.1
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
readme-renderer==32.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
scipy==1.8.0
ShExJSG==0.8.1
six==1.16.0
sparqlslurper==0.5.1
SPARQLWrapper==1.8.5
stevedore==3.5.0
tenacity==8.0.1
tomli==2.0.1
tqdm==4.62.3
twine==3.8.0
urllib3==1.26.8
virtualenv==20.13.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
webencodings==0.5.1
yamldown==0.1.8
zipp==3.7.0
